* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
  }

.sessao6{
    background-image: url('./assets/images/bg_sessao3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .grid_sessao6{
    background-color: blue;
    display: grid;
    grid-gap: 10px;
    padding: 30px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "div1 div2 div2 div3 div3"
    "div4 div2 div2 div3 div3"
    "div4 div6 div6 div3 div3"
    "div5 div6 div6 div3 div3"
    ;
  }
  .div1{
    grid-area: div1;
    background-color: red;
  }
  .div2{
    grid-area: div2;
    background-color: yellow;
    padding: 0px;
    margin: 0px;
  }
  
  .div3{
    grid-area: div3;
    background-color: green;
  }
  .div4{
    grid-area: div4;
    background-color: purple;
  }
  
  .div5{
    grid-area: div5;
    background-color: rgb(1, 1, 53);
  }
  .div6{
    grid-area: div6;
    background-color: orangered;
  }